@import "nib"
@import "jsk-grid"
@import "entypo-stylus"

// ---------------------------------------------------------------------
global-reset()
jsk-grid-width = 100%

base-font-colour = #424242
base-colour = #f3f3f3
control-colour = #aec6cf
control-focus-colour = #779ecb

invert-base-colour = base-font-colour
invert-base-font-colour = base-colour

primary-accent-colour = #c44878
primary-base-colour = #e0749e
primary-light-colour = #e08faf
primary-dark-colour = #952450

secondary-accent-colour = #1a6b62
secondary-colour = #37756e
secondary-light-colour = #7dc3bc
secondary-alternate-colour = #338d83

tertiary-accent-colour = #e3dc53
tertiary-colour = #bcb759
tertiary-light-colour = #f0eb7c

@font-face
  font-family: 'Typicons'
  font-weight: normal
  font-style: normal
  font-source: '../fonts/typicons/typicons', 'typicons'

entypo-define('Entypo', '../fonts/entypo/entypo', 'entypo')

.icon-import:before
  @extend .entypo-book:before

.icon-book:before
  @extend .entypo-book:before

.icon-new:before
  @extend .entypo-plus:before

.icon-new-item:before
//  content: '\e0cf'
//  font-family: 'Typicons'
  @extend .entypo-plus:before

.icon-document:before
//  content: '\e063'
//  font-family: 'Typicons'
  @extend .entypo-docs:before

.icon-picture:before
//  content: '\e08d'
//  font-family: 'Typicons'
  @extend .entypo-picture:before

.icon-text:before
//  content: '\e062'
//  font-family: 'Typicons'
  @extend .entypo-text-doc:before

.icon-search:before
//  content: '\e14f'
//  font-family: 'Typicons'
  @extend .entypo-search:before

// -- Functions --------------------------------------------------------
button(base, accent)
  cursor: pointer
  margin: 10px 0
  text-align: center
  height: 48px
  line-height: 48px
  display: block
  font-weight: 600
  color: #eee
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)
  background: base
  border-bottom: 3px solid accent
  transition: all 0.3s ease-out
  &:hover
    background: lighten(base, 10%)
  &:active
    border-bottom-width: 1px
    padding-top: 2px
    background: darken(base, 10%)
    transition: all 0.1s ease-out


// -- Browser elements -------------------------------------------------
::-webkit-scrollbar {
    width: 5px
}
::-webkit-scrollbar:horizontal {
    height: 5px
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2)
}
::-webkit-scrollbar-thumb {
    border-radius: 3px
    background: control-focus-colour
}
::-webkit-scrollbar-thumb:inactive {
    background: control-colour
}

// -- Base elements ----------------------------------------------------
* {
    box-sizing: border-box
}
*:focus {
    outline: none
}
html {
    overflow: hidden
}
html, body, #app, .screen {
    height: 100%
}
body {
    font-family: "Source Sans Pro", sans
    color: base-font-colour
    background: base-colour
}

#app-title {
    position: fixed
    right: 10px
    bottom: 10px
    font-size: 16px
    color: #aaa
    text-transform: uppercase
    font-weight: 600
    z-index: 200
}

// -- Screens, Fields and Buttons --------------------------------------
.hidden {
    display: none
}
.centred {
    margin: 0 auto
}
.welcome {
    width: 70%
}
.half {
    width: 50%
}

.vertically-centred {
    position: relative
    top: 50%
    transform: translateY(-50%)
}


.screen {
    transition: all 250ms ease-in-out
    position: relative
    left: 0px

    &.fading {
        opacity: 0
        left: -30%
    }
    
    .section-info, .section-subinfo {
        text-align: center
        line-height: 140%
    }
    .section-info {
        font-size: 2em
        font-weight: 600
    }
    .section-subinfo {
        font-size: 1.5em
        font-weight: 300
        color: #888
    }
    .section-heading {
        margin-bottom: 2em
    }
    .form-feed {
        margin-bottom: 4em
    }
}

.field {
    margin: 0.5em 0 1em 0

    label {
        display: block
        font-size: 0.9em
        text-transform: uppercase
        color: #999
        padding: 5px 0
    }
}

.text-field {
    position: relative

    input {
        background: transparent
        box-shadow: none
        border: none
        border-bottom: 2px solid control-colour
        font-size: 20px
        color: #aaa
        display: block
        width: 100%
        height: 48px
        line-height: 48px
        padding: 0 10px
        letter-spacing: 1px

        &:focus {
            outline: none
            color: control-focus-colour
            border-color: control-focus-colour
        }
        &::-webkit-input-placeholder {
            color: #ccc
        }
    }
    &:before, &:after {
        content: ""
        display: block
        width: 2px
        height: 8px
        position: absolute
        bottom: 0px
        background: control-colour
    }
    &:before {
        left: 0px
    }
    &:after {
        right: 0px
    }
}

.button {
    text-decoration: none
}
.submit-button {
    button: secondary-colour secondary-accent-colour
}

.action-list .action {
    padding-left: 64px
    margin-bottom: 1em
    position: relative
    cursor: pointer
    color: #777
    transition: all 0.3s ease-out
    
    .title {
        font-weight: 600
        font-size: 1.2em
        line-height: 150%
    }
    &:before {
        font-size: 48px
        line-height: 50px
        width: 64px
        text-align: center
        position: absolute
        left: 0px
        top: 0px
    }
    &:hover {
        color: base-font-colour
    }
    &:active {
        transition: all 0.1s ease-out
        transform: scale3d(0.9, 0.9, 1)
    }
}

.book-list {
    clearfix()
    text-align: center
    margin-bottom: 2em
    color: #888
    
    .book, .more {
        position: relative
        display: inline-block
        width: 100px
        height: 130px
        margin: 0 10px 10px 0
        border: 1px solid transparent
        transition: all 0.3s ease-out
        vertical-align: top
        overflow: hidden
        cursor: pointer

        strong {
            position: absolute
            z-index: 3
            bottom: 0
            left: 0
            text-align: center
            height: 30px
            width: 100px
            line-height: 30px
            padding: 0 5px
            whitespace: nowrap
            text-overflow: ellipsis
            overflow: hidden
            font-weight: 600
            background: rgba(255, 255, 255, 0.6)
        }
        img {
            z-index: 2
            top: 50%
            left: 50%
            position: absolute
            transform: translateX(-50%) translateY(-50%)
            opacity: 0.6
        }
        &:before {
            position: absolute
            top: 0px
            left: 0px
            width: 100px
            height: 100px
            line-height: 100px
            font-size: 64px
            text-align: center
        }
        &:hover {
            color: base-font-colour
            border: 1px solid #ddd
            background: #fafafa
            img {
                opacity: 0.8
            }
        }
        &:active {
            transition: all 0.1s ease-out
            transform: scale3d(0.9, 0.9, 1)
        }
    }
    .more {
        line-height: 130px
        font-size: 1.4em
    }
}

// -- Editor -----------------------------------------------------------
.editor {
    height: 100%
    overflow-y: scroll
    padding: 40px 20px 30px 20px
    font-family: "Lora", serif

    .text-options {
        transition: opacity 250ms, margin 250ms
        position: absolute
        left: -999px
        top: -999px
        color: #fff
        height: 0px
        width: 0px
        z-index: 5
        margin-top: 5px
        opacity: 0

        &.fade {
            opacity: 0
            margin-top: -5px
        }
        &.active {
            opacity: 1
            margin-top: 0
        }

        .options {
            background-color: rgba(0, 0, 0, 0.9)
            position: absolute
            margin-left: -63px
            margin-top: -46px
            z-index: 50
            padding: 5px 4px 5px 5px
            width: 125px
            height: 40px
            transition: all 300ms ease-in-out

            &:before {
                content: ""
                border: 5px solid transparent
                border-top-color: rgba(0, 0, 0, 0.9)
                position: absolute
                margin-left: -5px
                bottom: -15px
                height: 5px
                width: 0px
                left: 50%
            }

            &.url-mode {
                width: 275px
                margin-left: -137px

                .bold, .italic, .quote {
                    width: 0px
                    overflow: hidden
                    margin-right: 0px
                    opacity: 0
                }
                input {
                    border-left: 2px solid transparent
                    padding-right: 5px
                    padding-left: 5px
                    width: 236px
                }
            }
            .italic {
                font-style: italic
            }
            .entypo {
                font-family: 'Entypo'
            }
            button {
                transition: all 250ms ease-in-out
                float: left
                width: 28px
                opacity: 0.7
                height: 30px
                margin-rigth: 1px
                font-family: Lora
                font-size: 1.4em
                border: none
                background: none
                color: #eee

                &.active {
                    background-color: rgba(255, 255, 255, 0.4)
                    opacity: 1
                }
                &:hover {
                    opacity: 0.95
                }
            }
            input {
                overflow: hidden
                outline: 0px
                height: 30px
                padding: 0px
                margin: 0px
                border: 0px
                float: left
                width: 0px
            }
        }
    }

    header, article {
        max-width: 70%
        min-width: 500px
        margin: 0 auto
    }
    header {
        font-size: 2em
        font-weight: bold
        margin-bottom: 1em
    }
    article {
        padding-bottom: 50px
        line-height: 1.4em
        font-size: 1.4em
    }
    blockquote {
        border-left: 4px solid deepskyblue
        margin-left: -19px
        padding-left: 15px
        margin-right: 0px
        margin-bottom: 1.5em
    }
    p {
        margin: 0.5em 0 1.5em 0
    }
    
    a {
	      text-decoration: none;
	      color: deepskyblue;
    }
    
    a:hover {
	      text-decoration: underline;
    }

}
.editor-container {
    height: 100%
    position: relative
    transition: margin 250ms ease-in-out

    .sidebar-active & {
        margin-left: 350px
        overflow: hidden
    }

    .statusbar {
        position: absolute
        bottom: 0px
        left: 0px
        padding: 0 10px
        text-transform: uppercase
        font-family: "Source Sans Pro", sans
        color: #999
        font-size: 0.8em
        background: #f3f3f3
        width: 100%
        z-index: 10
        height: 32px
        line-height: 32px
        
        strong {
            font-weight: 600
            padding-right: 0.3em
            font-size: 1.2em
        }
    }
}
.sidebar-overlay {
    position: fixed
    height: 100%
    width: 0px
    z-index: 100
    opacity: 0
    transition: opacity 250ms ease-in-out



    .sidebar-active & {
        width: 100%
        opacity: 1

        .sidebar {
            margin-left: 0px
        }
    }

    .sidebar {
        background: invert-base-colour
        color: invert-base-font-colour
        width: 300px
        height: 100%
        padding: 10px
        overflow-y: auto
        margin-left: -300px
        transition: margin 250ms ease-in-out

        input {
            height: 32px
            line-height: 32px
            font-size: 18px
        }
        .search-field i {
            position: absolute
            right: 10px
            width: 32px
            height: 32px
            font-size: 40px
            line-height: 25px
            text-align: right
            color: #999
            font-style: normal
        }
        input::-webkit-input-placeholder {
            color: #888
        }
        input:focus {
            color: control-colour
        }

        .tooling-section {
            margin-bottom: 1.5em
        }
        
        .tooling-section-title {
            font-weight: 600
            text-transform: uppercase
            color: #999
            font-size: 0.9em
            line-height: 120%
            margin-bottom: 5px

            .num-docs {
                float: right
                color: #ccc
                font-size: 1.1em
                margin-right: 20px
            }
        }

        .tooling-links {
            li {
                position: relative
            }
            li:before {
                position: absolute
                top: 0
                left: 0
                width: 32px
                height: 24px
                line-height: 24px
                font-size: 32px
                text-align: center
            }

            a {
                color: invert-base-font-colour
                text-decoration: none
                font-size: 1.1em
                line-height: 130%
                margin-bottom: 5px
                display: block
                padding-left: 32px
                height: 24px
                line-height: 24px
            }
            .new-item a, .more-items a {
                color: darken(invert-base-font-colour, 15%)
                text-transform: uppercase
                font-size: 0.9em
            }
            .more-items a {
                text-align: center
            }
        }
    }
}