@import "nib"
@import "jsk-grid"
@import "entypo-stylus"

// ---------------------------------------------------------------------
global-reset()
jsk-grid-width = 100%

base-font-colour = #424242
base-colour = #f3f3f3

// ---------------------------------------------------------------------

body {
    font-family: "Open Sans", sans
    color: base-font-colour
    background: base-colour
}

#app-title {
    position: fixed
    right: 10px
    bottom: 10px
    font-size: 14px
    color: #aaa
    text-transform: uppercase
}

